#questionbank div{
    background-color: rebeccapurple;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

#questionbank div p {
    margin-left:20px;
    color: aliceblue;
    text-decoration:none;
}

.d-flex.col-12 a{
    padding: 0;
    text-decoration: none;
}

#questionbank div.mx-auto.col-12 div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#questionbank div.mx-auto.col-12 div.form-check input{
    margin-right:5px
}

.title{
    font-size: 25px;
    font-weight: bold;
    /* text-decoration: none; */
}
.question{
    font-size: large;
    font-weight: bold;
}